body {
  display: grid;
  place-items: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p * {
  display: block;
}

input[type="email"] {
  appearance: none;
}

.error {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 6px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

button {
  margin-top: 6px;
}
